
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>CáritasMTY Ticket system</title>
    <link rel="icon" href="https://media-exp1.licdn.com/dms/image/C560BAQHEWw2-n0LdCQ/company-logo_200_200/0/1590597462688?e=2159024400&v=beta&t=eHKcatlWRVR9Zub8spBvh0q4bZgJTqa7nMM9pu3mlmQ">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/blog/">

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.0/examples/blog/blog.css" rel="stylesheet">
    <link href=https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.20/css/dataTables.bootstrap4.min.css rel=stylesheet>

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/290ff21486.js" crossorigin="anonymous"></script>
  </head>

<body>