<%- include ("./partials/_header") %>
  <%- include ("./partials/_navbar") %>

  <div class="container py-5">
    <p class="h1 mb-5">Bienvenido al sistema de tickets</p>
    <img src="/images/CARITASMTY.jpg" height="300" alt="" style="padding-top:50px; display:block; margin-left:auto; margin-right:auto">
  </div>


  <%- include ("./partials/_footer") %>